* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f2f8ff; */
  background-color: #e7f9ff;
  overflow-x: hidden;
  background-image:   url("/img/white-wave.png");
  background-repeat: no-repeat ;
  background-size: contain ;
  background-position: bottom;
}
 
/* Go to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(30, 35, 37);
  /* color: white; */
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Navbar  */

.nav-item .nav-link {
  font-weight: 500;

  color: #3f3939;
}

.navbar-nav li {
  margin-right: 15px;
}

.navbar-brand img {
  height: 90px;
  width: 90px;
  /* image-rendering: -webkit-optimize-contrast; */
}
.dropdown-menu.dropdown-menu-light.dropdown-mobile {
  right: auto;
  left: -200px;
}

.dropdown-item {
  display: flex;
  width: auto;
  padding: 0 5px 0 5px;
  font-size: 13px;
  
}
.dropdown-item img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  object-fit: contain;
}

.products-dropdown,
.companies-dropdown,
.institutes-dropdown {
  display: flex;
  padding-top: 10px;
}
.products-dropdown ul,
.companies-dropdown ul,
.institutes-dropdown ul {
  /* width: 250px; */
  padding-left: 10px;
}
.products-dropdown a,
.companies-dropdown a,
.institutes-dropdown a {
  text-decoration: none;
  color: inherit;
}

.sign-up {
  
background: #1566d1;
  color: white;
  width: 130px;
  height: 50px;
  
  padding-top: 11px;
}

.sign-up:focus,
.sign-up:hover {
  color: white;
}
.login-signup {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Navbar done */
 /* Main */
/* Left side */

.left-side h1 {
  font-size: 3rem;
}

.get-started-btn {
  background: #2f80ed;
  color: white;
  padding: 15px 40px;
  margin-top: 20px;
  /* width: 200px; */
}
.get-started-btn:hover {
  color: white;
}

/* Right side */

.main-img {
  animation-name: floating;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}


/* Products */
.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

/* Cards */

.card {
  height: 250px;
  width: 300px;
  /* padding-bottom: -20px; */
  background: #ffffff;
  margin: 25px;
  transition: transform 0.5s;
  box-shadow: 0px 0px 19px #eaeaea;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  font-size: 13.7px;
}

.card:hover {
  transform: scale(1.1);
}
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d80d9;
  height: 48px;
  width: 55px;
  border-radius: 0px 7px 7px 0px;
  position: relative;
  top: 10%;
  margin-right: 3%;
  padding: 20px;
}
/* .card-icon img{
  width: 30px;
  height: 30px;
} */
.card-body {
  position: relative;
  top: 5%;
}
.card-body h3 {
  font-weight: 500;
  color: #242424;
}

.card-body p {
  color: #4d4d4d;
}

.card:first-child {
  background-color: inherit;
  border: none;
  box-shadow: none;
  background: url("../img/assets/product\ background\ icon.png");
  background-repeat: no-repeat;
  transition: none;
  object-fit: cover;
}
.card:first-child:hover {
  transform: none;
}
.card:first-child h3 {
  text-decoration: underline;
  text-decoration-color: #1566d1;
  text-decoration-thickness: 5px;
}
/* Newsletter */
.newsletter {
  display: flex;

  background: white;
  justify-content: space-around;
  justify-items: center;
  align-items: center;

  width: 50%;
  margin: 30px auto;
 margin-bottom: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsletter form {
  padding-top: 20px;
}
/* Footer */

.footer {
  /* background-color: #ffffff; */

  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.footer h6,
i {
  color: #1566d1;

  margin-right: 15px;
}
.footer a {
  display: block;
  font-weight: 500;
  /* color: #404040; */

  text-decoration: none;
  margin: 12px 0;
}
.footer > * {
  margin: 15px 15px;
}

.skygoal-logo,
.footer-our-products a,
.footer-about-company a,.contact-us a {
  color: #767676;
}

.skygoal-logo img {
  height: 150px;
  width: 150px;
}

 
.footer-goal {
  flex-basis: 25%;
  flex-grow: 0;
}

.footer-goal p {
  padding: 10px;
}

.footer-goal .social-media {
  display: flex;
  justify-content: space-between;
}
/* Media Queries */

@media (max-width: 767px) {
  .products-dropdown,
  .companies-dropdown,
  .institutes-dropdown {
    flex-direction: column;
  }

  .login-signup {
    flex-direction: column;
    margin-bottom: 60px;

    align-items: unset;
  }

  .sign-up {
    width: 50%;
  }

  .hero {
    flex-direction: column;
  }
  .hero .left-side .intro-text {
    text-align: center;

    font-size: 1.7rem;
  }

  /* CSS for carousel slider */
  div.carousel-inner {
    height: 350px !important;
    width: 250px;

    margin: 0px auto 0 auto;
  }

  /* Products section */

  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    margin-left: -20px;
  }

  .card {
    height: 240px;
    width: 300px;
  }

  .card-icon {
    top: 15%;
    margin-right: 4%;
  }

  .card-body {
    top: 8%;
  }

  .card:first-child {
    margin-bottom: -10px;
  }

  .newsletter {
    padding: 10px 15px;
    flex-direction: column;
    width: 85%;
    margin-bottom: 100px;
    text-align: center;
  }

  /* footer */
  .footer {
    flex-direction: column;

    text-align: center;
  }

  .footer > * {
    margin: 15px 0;
  }

  .footer-goal .social-media {
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .hero .left-side .intro-text {
    font-size: 2rem;
  }

  .login-signup {
    flex-direction: column;
    margin-bottom: 60px;

    align-items: unset;
  }

  .sign-up {
    width: 50%;
  }

  /* CSS for carousel slider */
  div.carousel-inner {
    height: 350px !important;
    width: 250px;

    margin: 0px auto 0 auto;
  }


  .newsletter{
    width: 80%;
     margin-bottom: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* heigth of navbar */
  #navbar_top {
    height: 80px;
  }

  .navbar-nav {
    position: relative;
    left: 2%;
  }

  .hero {
    justify-content: space-around;
  }

  .hero .left-side .intro-text {
    font-size: 2.3rem;
  }

   .newsletter{
     width: 80%;
     margin-bottom: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  /* heigth of navbar */
  #navbar_top {
    height: 80px;
  }
  .hero .left-side .intro-text {
    font-size: 3.1rem;
  }

  .navbar-nav {
    position: relative;
    left: 10%;
  }

  
}

@media (min-width: 1441px) and (max-width: 2561px) {
  /* heigth of navbar */
  #navbar_top {
    height: 80px;
  }
  .navbar-nav {
    position: relative;
    left: 10%;
  }

  .hero .left-side .intro-text {
    font-size: 3.2rem;
  }
   
}
